@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  @apply font-sans;
}
button:focus{
  outline: 0px auto -webkit-focus-ring-color;
}
.loader,
.loader:after {
  border-radius: 9999px;
}
.loader {
  @apply relative border-solid;
  text-indent: -9999em;
  border-color: currentColor;
  border-right-color: theme('colors.gray.300');
  border-top-color: theme('colors.gray.300');
  -webkit-animation: load 750ms infinite linear;
  animation: load 750ms infinite linear;
  .mode-dark &{
    border-right-color: theme('colors.gray.700');
    border-top-color: theme('colors.gray.700');
  }
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

h1{
  @apply text-gray-800;
  span{
    @apply font-bold text-lg text-gray-800;
  }
  a{
    @apply text-green-500 border-b border-gray-400 inline-block relative transition-all duration-150 ease-in;
    &:hover{
      @apply text-green-600 border-green-500;
    }
  }
  .mode-dark &{
    @apply text-gray-400;
    span{
      @apply text-white;
    }
    a{
      @apply border-gray-700;
      &:hover{
        @apply text-green-400 border-green-500;
      }
    }
  }
  @screen md {
    span{
      @apply text-2xl;
    }
  }
  @screen lg {
    @apply text-2xl;
    span{
      @apply text-4xl;
    }
  }
  @screen xl {
    @apply text-4xl;
    span{
      @apply text-5xl;
    }
  }
}
.editor{
  p{
    @apply mb-4;
  }
  h2{
    @apply font-bold mb-4 text-green-500 text-xl;
  }
  h3{
    @apply font-semibold mb-4 text-gray-900 text-lg;
  }
  a{
    @apply text-green-500 transition-all duration-150 ease-in;
    &:hover{
      @apply text-green-400;
    }
  }
  .mode-dark &{
    h3{
      @apply text-white
    }
  }
  @screen sm {
    h2{
      @apply text-2xl;
    }
    h3{
      @apply text-xl;
    }
  }
  @screen lg {
    h2{
      @apply text-3xl;
    }
    h3{
      @apply text-2xl;
    }
  }
}
.referencesList{
  @apply mx-2;
  .reference{
    @apply inline-flex;
  }
  @screen sm{
    @apply mx-0
  }
  @screen md{
    @apply -mx-4;
  }
  @screen lg{
    column-count: 2;
  }
}